.hideTitle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .secOne {
    flex-direction: column;
    height: 100vh !important;
  }
  .hideTitle {
    display: block;
  }
  .undersec1 {
    height: 50%;
    width: 100% !important;
    margin-bottom: 2rem;
    min-height: 316px;
  }
  .undersec2 {
    height: 50%;
    width: 100% !important;
  }
  .main {
    height: max-content !important;
  }
  .search-m {
    width: 50% !important;
  }
}
@media only screen and (max-width: 500px) {
  .hideTitle {
    display: block;
  }
  .secOne {
    flex-direction: column;
    height: 100vh !important;
    padding: 0px !important;
  }
}

@media only screen and (max-width: 500px) {
  .right-cont {
    width: 100% !important;
    margin: 0px !important;
    padding: 0 10px !important;
  }
  .search-m {
    width: 50% !important;
  }
}
